* {
    box-sizing: border-box;
}

/*GRID SETUP*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 1%;
}

/*CLEAR FLOATS*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
	width: 100%;
	overflow-x: hidden;
}

/*SECTION 1*/

#container1 {
	background-image: url("../images/pic-hero.png");
	background-size: 100% 100%;
	padding-bottom: 5%;
	font-family: font1;

}

#cardinalLogo {
	margin-top: 3%;
	margin-left: 6%;
}

.openingHeader {
	text-align: center;
	color: white;
	font-size: 450%;
	margin-top: 10%;

}

/*SECTION 2*/

#overView {
	width: 100%;
	margin-left: 10%;
	margin-bottom: 3%;
}

.subSection{
	width: 350px;
}

.subTitle {
	margin-bottom: 0;
	margin-top: 1%;
}

.subParagraph {
	width: 73%;
	margin-left: 17%;
	margin-top: -1%;
}

#container2 {
	padding-top: 50px;
	padding-bottom: 10%;
    height: 100%;
    width: 100%;
  	background: linear-gradient(180deg, #e6e6e6 50%, white 50%);
  	font-family: font2;
}

#clientRow2 {

	padding-top: 20px;
	padding-left: 120px;


}

.ourClients {
	color: white;
	background-color: #282828;
	/*padding: 20px 10px 50px 80px;*/
	padding-left: 85px;
	height: 225px;
	width: 475px;
	margin-left: 12%;
	-webkit-box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
 	-moz-box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
 	box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
}

.ourClients p {

	width: 80%;

}


.clientBox {
	
	background-color: white;
	border: solid gray 2px;
	text-align: center;
	height: 225px;
	width: 225px;
	padding-top: 80px;
	margin-left: 3%;


}

.clientBox img {

	height: auto;
	width: auto;
	text-align: center;
}

/*SECTION 3*/
#container3 {

	background-image: url("../images/pic-gojo-bg.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-top: 200px solid  hsl(0, 0%, 91%);
	height: 100%;
	width: 100%;
	
	
}

#goJo {

	margin-left:13%;
	margin-top: -13%;
	margin-bottom: -18px;

	
}

#goJoP {
	width: 60%;
	margin-top: -3%;
}

#goJoBtn {

	width: 150px;
	height: 50px;
	display: inline-block;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
}

#goJoBtn:hover {
	color: dodgerblue;
	background-color: white;
}


/*SECTION 4*/
#container4 {
	background-image: linear-gradient(to bottom, rgb(14, 24, 77) 0%,transparent 100%), url("../images/pic-fifththird-bg.png");
	background-blend-mode:multiply;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 100px;
	overflow: hidden;

    
}

#fifththirdPic {
	
	margin-bottom: -20%;
	margin-left: -10%;
	max-width: 100%;
    height: auto;
}

#fifththirdBtn {
	
	width: 150px;
	height: 50px;
	background-color: white;
	color: rgb(14, 24, 77);
	border-radius: 5px;

}

#fifththirdBtn:hover {
	color: white;
	background-color: rgb(14, 24, 77);
}

/*SECTION 5*/

#container5 {

	background-image: url("../images/pic-chhn-bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-height: 520px;
	overflow: hidden;
}

#chhnPic {
	height: 110%;
	width: 110%;
    margin-left: -15%;
    margin-top: -7%;

}

/*FONTS*/
@font-face {
    font-family: font1;
    src: url(../fonts/Effra_Std_Bd.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/Effra_Std_Lt.ttf);
}

@font-face {
    font-family: font3;
    src: url(../fonts/Effra_Std_Md.ttf);
}

@font-face {
    font-family: font3;
    src: url(Effra_Std_Rg.ttf);
}