* {
    box-sizing: border-box;
}



[class*="col-"] {
    float: left;
    padding: 1%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*CLEAR FLOATS*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
	width: 100%;
	margin: 0px;
    padding: 0px;
	overflow-x: hidden;
}

/*SECTION 1*/

#container1 {
	background-image: url("../images/pic-hero.png");
	background-size: 100% 100%;
	padding-bottom: 5%;
	font-family: font1;


}

#cardinalLogo {
	margin-top: 3%;
	margin-left: 6%;
}

.openingHeader {
	text-align: center;
	color: white;
	font-size: 450%;
	margin-top: 10%;

}

/*SECTION 2*/

#overView {
	width: 100%;
	margin-left: 10%;
	margin-bottom: 3%;
}

.subSection{
	width: 350px;
}

.subTitle {
	margin-bottom: 0;
	margin-top: 1%;
}

.subParagraph {
	width: 73%;
	margin-left: 17%;
	margin-top: -1%;
}

#container2 {
	padding-top: 50px;
	padding-bottom: 10%;
    height: 100%;
    width: 100%;
  	background: linear-gradient(180deg, #e6e6e6 50%, white 50%);
  	font-family: font2;

}

#clientRow1 {
	margin-left: 12%;
	width: 100%;
}

#clientRow2 {

	padding-top: 20px;
	padding-left: 120px;


}

.ourClients {
	color: white;
	background-color: #282828;
	/*padding: 20px 10px 50px 80px;*/
	padding-left: 85px;
	height: 225px;
	width: 475px;
	-webkit-box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
 	-moz-box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
 	box-shadow: -20px 20px 70px 9px rgba(0,0,0,0.1);
}

.ourClients p {

	width: 80%;

}


.clientBox {
	
	background-color: white;
	border: solid gray 2px;
	text-align: center;
	height: 225px;
	width: 225px;
	padding-top: 80px;
	margin-left: 3%;


}

#skanska {

	margin-top: 15px;
}

#rackroom {

	margin-top: -12px;
}

.clientBox img {
	
	position: relative;
	text-align: center;
	max-width: auto;
    height: auto;

}

/*SECTION 3*/
#container3 {

	background-image: url("../images/pic-gojo-bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 200px solid  hsl(0, 0%, 91%);
	height: 100%;

	
	
}

#goJo {

	margin-left:13%;
	margin-top: -13%;
	margin-bottom: -18px;
	max-width: 100%;
    height: auto;


	
}

#goJoP {
	width: 60%;
	margin-top: -3%;
	font-family: font2;
	font-size: x-large;
}

#goJoBtn {

	width: 150px;
	height: 50px;
	display: inline-block;
	background-color: dodgerblue;
	color: white;
	border-radius: 5px;
}

#goJoBtn:hover {
	color: dodgerblue;
	background-color: white;
}


/*SECTION 4*/
#container4 {
	background-image: linear-gradient(to bottom, rgb(14, 24, 77) 0%,transparent 100%), url("../images/pic-fifththird-bg.png");
	background-blend-mode:multiply;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 100px;
	overflow: hidden;
	
    
}

#mobilefifththird {
	display: none;
}

#fifththirdPic {
	
	margin-bottom: -20%;
	margin-left: -10%;
	max-width: 100%;
    height: auto;
}

#fifththirdP {
	font-family: font2;
	font-size: x-large;
	color: white;
	margin-top: -2%
}

#fifththirdBtn {
	
	width: 150px;
	height: 50px;
	background-color: white;
	color: rgb(14, 24, 77);
	border-radius: 5px;

}

#fifththirdBtn:hover {
	color: white;
	background-color: rgb(14, 24, 77);
}

/*SECTION 5*/

#container5 {

	background-image: url("../images/pic-chhn-bg.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	max-height: 520px;
	overflow: hidden;

}

#chhnPic {
	height: 110%;
	width: 110%;
    margin-left: -15%;
    margin-top: -7%;
}

#chhnText {

	margin-top: 8%;
}

/*SECTION 6*/

#container6 {

	background-color: #e6e6e6;
	padding-top: 50px;
}

#connectText {

	text-align: center;
}

form {

	max-width: 100%;
    height: auto;
}

input {
	width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
    font-family: font2;
    font-size: medium;
    border-radius: 5px;
}

#submitBtn {

	width: 25%;
	background-color: dodgerblue;
	color: white;
	font-family: font1;
	border-radius: 5px;
}

#message {
	padding-bottom: 100px;
}

#contactInformation {

	margin-left: 8%;
	border-left: 2px solid lightgray;
}

#map {
	
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.contactP {
	
	font-family: font2;
	margin-top: -2%;
}

/*FOOTER*/
footer{
	padding: 20px 20px 10px 20px;
	background-color: lightgray;

}



#icons img{
	padding-left: 20px;
	margin-top: 3%;
	margin-right: 5%;
}

#icons img:hover {
	opacity: 0.6;
}


/*FONTS*/
@font-face {
    font-family: font1;
    src: url(../fonts/Effra_Std_Bd.ttf);
}

@font-face {
    font-family: font2;
    src: url(../fonts/Effra_Std_Lt.ttf);
}

@font-face {
    font-family: font3;
    src: url(../fonts/Effra_Std_Md.ttf);
}

@font-face {
    font-family: font4;
    src: url(../fonts/Effra_Std_Rg.ttf);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

  	
  	/*SECTION 1*/
	.openingHeader {
		font-size: 32px;

	}
	
	#cardinalLogo{
		width: 200px;
		margin-left: 100px;
		margin-top: 30px;
		margin-bottom: 40px;
	}

	/*SECTION 2*/
	
	#overView {

		margin: 0;
	}

	.subSection {
		text-align: center;
	}


    #ourClients {

    	width: 90%;
    	height: 300px;
    	text-align: center;
    	margin-left: 15px;
    	padding-top: 50px;
    }

    #ourClients h2 {
    	margin-right: 65px;
    }

    .clientBox {

    	width: 90%;
    	height: 150px;
    	margin-bottom: 10px;
    	margin-top: 10px;
    	overflow: hidden;
    	padding: 10px 0 10px 0;
    }

    #skanska {
    	margin-top: 50px;
    }

    #rackroom {

    	margin-top: 10px;
    }

    .clientBox img {
		
    	max-height: 100%;
    	max-width: 100%;
    	margin-top: 10%;
    }

    #clientRow1{
    	margin-left: 0;
    }

   	#clientRow2 {
    	padding: 0;

    }
	
	/*SECTION 3*/

    #container3 {
    	background-position: center;
    	background-size: cover;
    	border-top: 50px solid  hsl(0, 0%, 91%);
    	padding-bottom: 25px;

    }
	
	#goJo {
		width: 100%;
		height: auto;
		margin: 0;
	}

	#goJoText {
		width: 70%;
		margin-left: 80px;
	}


	#goJoP {
		width: 90%;
		font-size: medium;
		margin-bottom: 50px;

	}

	/*SECTION 4*/

	#fifththirdPic {
		display: none;
	}
	
	#whiteSpace{
		display: none;
	}

	#mobilefifththird {
		display: inline;
		margin: 0;
	}
	
	#mobilePhone {
		width: 100%;
		height: 100%;
	}

	#fifththirdText {
		text-align: center;
		padding-bottom: 40px;
	}

	#fifththirdP {
		font-size: small;
	}

	/*SECTION 5*/
	#container5{
		background-size: cover;
		max-height: 100%;
	}

	#chhnText {
		width: 80%;
		margin-left: 50px;
		margin-bottom: 20px;
	}

	#chhnPic {
		margin-left: 10%;
		margin-top: 4%;
	}
	
	/*SECTION 6*/
	
	#submitBtn {

		margin-left: 40%;
	}

	input {
		padding: 0;
	}
	
	#contactInformation {
		text-align: center;
		border-top: 2px solid lightgray;
		border-left: 0;
		margin: 0;
	}

	#map {
		margin-left: 39%;
	}

}